<section>

    <h1>Lista de Tarefas ({{tarefas.length}})</h1>
    <input type="text" name="" id="" 
        [(ngModel)]="newtodoValue" 
        (keyup.enter)="onKeyUpEnter()"
        (keyup.esc)="onKeyUpEsc()"
        placeholder="Insira uma nova tarefa com ENTER">

    <ul>
        <li [ngClass]="{'complete': tarefa.completed }" *ngFor="let tarefa of tarefas; let i = index">
            <label for="t_{{i}}">
                <input type="checkbox" id="t_{{i}}" [(ngModel)]="tarefa.completed">
                {{tarefa.title}}
            </label>
            <button (click)="deleteTodo(i)">x</button>
        </li>
    </ul>

    <small>
        <b *ngIf="tarefas?.length == 0"><br>Nenhuma tarefa pendente.</b>
    </small>

    <div *ngIf="tarefas.length">
        <small>Tarefas Completas</small><br>
        <progress min="0" max="{{tarefas.length}}" value="{{tarefasCompleted}}"></progress><br>
        <small>{{tarefasCompleted}} de {{tarefas.length}} </small>(<b>{{ percentListCompleted() }}%</b>)
    </div>
</section>
<b>Github</b> @Regismrs / Lista-de-tarefas • 2023
