@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Passion+One&family=Sansita+Swashed:wght@600&display=swap');
:host {
    text-align: center;
    font: 16px "Heebo";
}
section {
    box-sizing: border-box;
    width: 400px;
    height: 90vh;
    margin: 5vh auto 5px auto;
    text-align: center;
    padding: 2em;
    background-color: #9d9dff;
    border-radius: 10px;
    background: linear-gradient(to top, #dedeff, #9d9dff 80%) 100% 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
h1 {
    margin: -10px auto .5em;
    color: white;
    text-shadow: 0px 0px 1px #00F, 0px 0px 3px #55f;
}
ul {
    font-weight: bold;
    list-style: none;
    padding: 0;
    max-height: 55vh;
    overflow: auto;
    text-align: left;
    background: rgba(255, 255, 255, .2);
    li {
        position: relative;
        padding: .1em 2em .1em .5em;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        &:hover {
            background: rgba(255, 255, 255, .3);
        }
        &:hover button {
            position: absolute;
            display: block;
            top: .5em;
            right: .5em;
            background: #a90818;
            border: none;
            padding: .5em;
            color: #fff;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            line-height: 12px;
        }
    }
}
button { display:none; }
label {
    position: relative;
    display: block;
    padding: .3em 0;
}
input[type="text"] {
    display: block;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #999;
    margin-bottom: 1em;
}
.complete {
    color: #666;
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, .3);
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

progress::-moz-progress-bar { background: blue; color: blue;}
progress::-webkit-progress-value { background: rgb(74, 74, 111); }
progress { 
    color: blue; 
    background: green; 
    border: 0px solid darkblue;
}
@media (max-height: 600px) {
    section {
        height: auto;
        max-height: auto;
    }
}